.school{
    &__information{
        background-color: var(--color-gray);
        &-block{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 123px;
        }
    }
}