.mv__block {
  line-height: 0;
}

.mv__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 99px;
}
@media (max-width: 767px) {
  .mv__content {
    right: unset;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
.mv__content.rgt {
  right: unset;
  left: 8.75vw;
  top: 25vw;
  transform: unset;
}

.mv__title {
  color: var(--color-white);
  text-align: right;
  font-family: var(--font-secondary);
  font-size: 48px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 7.68px;
}
@media (max-width: 767px) {
  .mv__title {
    font-size: 8.533vw;
    letter-spacing: 0.683vw;
    line-height: 10.667vw;
    width: 100%;
    text-align: center;
    z-index: 10;
  }
}

.mv__subttl {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 3.84px;
}

.information {
  background-color: var(--color-gray);
  padding-block: 24px;
}
.information__block {
  display: flex;
  gap: 40px;
  max-width: 983px;
  width: 100%;
  margin-inline: 0 auto;
}
@media (max-width: 767px) {
  .information__block {
    flex-direction: column;
    gap: 6.4vw;
  }
}
.information__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
@media (max-width: 767px) {
  .information__wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}
.information__heading {
  color: var(--color-white2);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
}
.information__date {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
}
@media (max-width: 767px) {
  .information__date {
    font-size: 2.667vw;
    letter-spacing: 0.213vw;
  }
}
.information__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 8px;
}
.information__desc:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .information__desc {
    flex-direction: column;
    align-items: self-start;
    gap: 2.133vw;
    margin-bottom: 2.133vw;
  }
}
.information__desc-txt {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  /* 200% */
  letter-spacing: 1.12px;
}
@media (max-width: 767px) {
  .information__desc-txt {
    font-size: 3.2vw;
    letter-spacing: 0.128vw;
    line-height: 3.733vw;
  }
}

.concept__row {
  max-width: 1120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .concept__row {
    margin-bottom: 24px;
  }
}
.concept__col {
  width: calc(20% - 16px);
  padding: 24px 24px 16px 24px;
  border: 1px solid rgba(199, 193, 191, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 991px) {
  .concept__col {
    padding: 24px 10px 16px 10px;
  }
}
@media (max-width: 767px) {
  .concept__col {
    width: 100%;
  }
}
.concept__col:hover .concept__icon {
  display: none;
}
.concept__col:hover .concept__txt.default {
  display: none;
}
@media (max-width: 767px) {
  .concept__col:hover .concept__txt.default {
    display: block;
  }
}
.concept__col:hover .concept__txt.hover-text {
  color: var(--primary-color);
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.96px;
  display: block;
}
@media (max-width: 767px) {
  .concept__col:hover .concept__txt.hover-text {
    font-size: 3.2vw;
    line-height: 5.333vw;
    letter-spacing: 0.256vw;
  }
}
.concept__num {
  color: var(--color-gray);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.56px;
  position: absolute;
  left: 24px;
  top: -21px;
}
@media (max-width: 767px) {
  .concept__num {
    font-size: 6.4vw;
    letter-spacing: 0.512vw;
  }
}
.concept__txt {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.64px;
}
@media (max-width: 767px) {
  .concept__txt {
    font-size: 3.2vw;
    letter-spacing: 0.245vw;
    line-height: 5.333vw;
  }
}
.concept__txt.hover-text {
  display: none;
}
.concept__icon {
  width: 4px;
  height: 4px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-white1);
}

.common__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  gap: 24px;
  border-bottom: 1px solid #2E1B11;
  padding-block: 14px;
  text-decoration: none;
  transition: all 0.8s ease;
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  /* 114.286% */
  letter-spacing: 0.56px;
}
@media (max-width: 767px) {
  .common__button {
    font-size: 3.733vw;
  }
}
.common__button.white {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
.common__button:hover {
  opacity: 0.3;
}
.common__button:hover-icon {
  width: 6px;
  height: 6px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.common__button-icon {
  width: 4px;
  height: 4px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.common__button-icon.white {
  background-color: var(--color-white);
}

.location {
  background-image: url("../../assets/img/top/locartion-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .location {
    background-image: url("../../assets/img/top/locartion-bg-sp.webp");
  }
}
.location__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 767px) {
  .location__block {
    flex-direction: column;
    gap: 6.4vw;
    justify-content: center;
  }
}
.location__box {
  margin-bottom: 16px;
}
.location__box:last-of-type {
  margin-bottom: 0;
}
.location__ttl {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.12px;
}
@media (max-width: 767px) {
  .location__ttl {
    font-size: 2.667vw;
    letter-spacing: 0.213vw;
  }
}
.location__desc {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 8px;
}
.location__txt {
  color: var(--color-white);
  font-family: var(--color-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  /* 160% */
  letter-spacing: 1.6px;
}
@media (max-width: 767px) {
  .location__txt {
    font-size: 4.267vw;
    letter-spacing: 0.171vw;
  }
}
.location__content {
  flex-shrink: 0;
}
.location__icon {
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
  background-color: var(--color-yellow);
  border-radius: 50%;
}
.location__icon.grn {
  background-color: var(--color-green);
}
.location__icon.purple {
  background-color: var(--color-purple);
}
.location__icon.brown {
  background-color: var(--color-brown);
}
.location__icon.ppr {
  background-color: var(--color-purple2);
}
.location__icon.blue {
  background-color: var(--color-blue);
}
.location__image {
  max-width: 736px;
  width: 100%;
}
.location__image img {
  width: 100%;
}/*# sourceMappingURL=top.css.map */